.pagename { 
    color:deeppink; 
    background-color:lightgrey; 
    text-align:center;  
    padding:15px;
   }   

#name {
    color:pink;
    font-style:italic; 
    font-size:larger;
    text-align:right;
}

ul {
    position:relative; left:110px;
    font-size: larger;

} 

table ,th,td {
    border:1.5px solid black; 
    background-color:lightpink; 
    padding:10px;
    
}
table {
    border-collapse: collapse;
    position:relative; left:130px ;
}
.contactme {
    text-align:center;
}
#text { 
    width:150px;
    height:150px;
}
img {
    width:400px;
    position:relative; left:500px;
}
.form1 {
    position:relative; left:500px;
    border:1.5px solid black;
}

.form2 {
    position:relative; left:500px;
    border:1.5px solid black;
}
button {
    size:width30px;
    background-color: lightpink;
    position:relative; left:500px;
}

footer {
    text-align:center;
    color:deeppink;
}